/*
 * @date : 20/01/2017
 * @author : Akyra
 */

body {
	font-size: 11.00px;
	background: url('https://bytebucket.org/ARenaudeau/animelist/raw/9b65f0f1088f3768e26d31bd4faa4a68ec963770/wallpaper.jpg') center center no-repeat fixed #bebebe;
	background-size: cover;
}

/*
 * Determines the the bar control properties.
 */

table#mal_control_strip {
	margin-left: 1%!important;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#mal_control_strip {
	position: fixed;
	background: rgba(56, 160, 172, 0.75) !important;
	box-shadow: 0 0 0px 2px rgba(25, 30, 48, 0.25);
	overflow: visible;
	width: 600px !important;
}

/*td#mal_cs_listinfo div:first-of-type:before {
	content:url(16_account.png);
	padding-top: 5px !important;
}

td#mal_cs_listinfo strong a {
	padding-left: 5px;
}*/

td#mal_cs_listinfo, td#mal_cs_links {
	border: 0px;
}

td#mal_cs_listinfo a:hover, td#mal_cs_links a:hover, td#mal_cs_otherlinks a:hover {
	color: rgb(48, 45, 96);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

td#mal_cs_listinfo a, td#mal_cs_links a, td#mal_cs_otherlinks strong, td#mal_cs_otherlinks a {
	font-family: "Optima";
	text-decoration: none !important;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

td#mal_cs_powered {
	visibility: hidden;
}

/*
 * Determines the position of the list.
 */

div#list_surround
{
	background: url('https://bytebucket.org/ARenaudeau/animelist/raw/292456a83735cf89e1f6b2268c1a2334c7f4b610/title.png') 50% 1px no-repeat;
	font-size: 81.25%;
	line-height: 1;
	margin: 0 auto;
	padding-top: 300px;
	width: 600px;
	margin-left: 1%;
	float: left;
}

/*
 * Determines the title bar properties.
 */
div#list_surround table:first-of-type {
	background: rgba(56, 160, 172, 0.75) !important;
	box-shadow:  0 0 0px 2px rgba(25, 30, 48, 0.25);
	height: 30px;
	border-radius: 5px;
}

div#list_surround table:first-of-type a {
	color: #fff;
	font: bold 11.00px "Optima";
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

div#list_surround table:first-of-type a:hover {
	color: rgba(48, 45, 96, 1.00);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

@-webkit-keyframes light {
	0% { color: #fff; text-shadow: 0px 0px 2px rgb(255, 255, 255); }
	20% { color: rgb(216, 96, 158); text-shadow: 0px 0px 2px rgb(255, 167, 225);}
	40% { color: #fff; text-shadow: 0px 0px 2px rgb(255, 255, 255); }
	60% { color : rgb(235, 188, 111); text-shadow: 0px 0px 2px rgb(255, 241, 176); }
	80% { color: #fff; text-shadow: 0px 0px 2px rgb(255, 255, 255); }
	100% { color: rgb(130, 196, 207); text-shadow: 0px 0px 2px rgb(175, 239, 239); }
}

td.status_selected a {
	-webkit-animation: light 10s infinite linear;
}


/*
// Alternating row color 1 & 2
*/

td.td1, td.td2 {
	color: rgba(255, 255, 255, 1.0);
	padding: 2px;
	background: rgba(56, 160, 172, 0.75);
	font-family: "Optima";
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

td.td1 a:hover, td.td2 a:hover {
	color: rgb(48,45,96);
}

td.td1 a.animetitle, td.td2 a.animetitle {
	color: inherit;
	text-decoration: inherit;
	text-transform: uppercase;
	font-size: 10.00px;
}

td.td1 a.animetitle:hover, td.td2 a.animetitle:hover {
	color: rgb(146, 184, 203);
}

td.td1 small, td.td2 small {
	color: rgba(255, 0, 0, 1.00);
	font-size: 8.50px;
	font-weight: normal;
}

td.td1 a.List_LightBox, td.td2 a.List_LightBox {
	color: rgb(255, 255, 255);
	text-decoration: inherit;
	text-transform: uppercase;
}

td.td1 a.List_LightBox:visited, td.td2 a.List_LightBox:visited {
	color:rgb (255, 255, 255);
	text-decoration: inherit;
	text-transform: uppercase;
}


td.td1 a.List_LightBox:hover, td.td2 a.List_LightBox:hover {
	color: rgb(146, 184, 203);
}

td.td1 a[title="View More Information"], td.td2 a[title="View More Information"] {
	color: rgb(255, 255, 255);
	text-decoration: inherit;
	text-transform: uppercase;
}

td.td1 a[title="View More Information"]:hover, td.td2 a[title="View More Information"]:hover {
	color: rgb(146, 184, 203);
}

td.td1 a[title="Click to bring up a text box to edit your current score"], td.td2 a[title="Click to bring up a text box to edit your current score"] {
	color: inherit;
	text-decoration: inherit;
}

td.td1 a[title="Click to bring up a text box to edit your current score"]:hover, td.td2 a[title="Click to bring up a text box to edit your current score"]:hover {
	color: rgb(146, 184, 203);
}

td.td1 a[title="Click to bring up a text box to edit your current episode number"], td.td2 a[title="Click to bring up a text box to edit your current episode number"] {
	color: inherit;
	text-decoration: inherit;
}

td.td1 a[title="Click to bring up a text box to edit your current episode number"]:hover, td.td2 a[title="Click to bring up a text box to edit your current episode number"]:hover {
	color: rgb(146, 184, 203);
}

td.td1 a[title="Click to increase your watched ep number by one"], td.td2 a[title="Click to increase your watched ep number by one"] {
	color: inherit;
	text-decoration: inherit;
}

td.td1 a[title="Click to increase your watched ep number by one"]:hover, td.td2 a[title="Click to increase your watched ep number by one"]:hover {
	color: rgb(146, 184, 203);
}

td.td1 input[value="Go"] {
	color: rgb(255,255,255);
	background-image: -webkit-linear-gradient(top, rgb(46,46,46) 10%, rgb(10,10,10) 75%);
	border: 1px outset #000000;
	font: 10.00px bold "Optima";
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

td.td1 input[value="Go"]:hover {
	color: rgb(146, 184, 203);
}



/*
// This represents the "Anime Title", "Score", "# Eps" columns
*/

span.table_headerLink {
	color: inherit;
}

td.table_header {
	color: rgba(255, 255, 255, 1.00);
	text-decoration: none;
	padding: 2px;
	background: rgba(56 , 160, 172, 0.75);
	font: 11.00px "Optima";
}

td.table_header a {
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
}

td.table_header a:hover {
	color: rgb(146, 184, 203);
	text-decoration: none;
}
/*
// headerLink represents the color of the links inside the_header
*/

.table_headerLink
{
color: #2e659e;
}

.table_headerLink:Visited
{
color: #2e659e;
}

.table_headerLink:Hover
{
color: #2e659e;
}

/*
// Controls the select form decoration (the drop down select box)
*/

.form {
	border-width: 1px 1px 1px 1px;
	border-color: #000000;
	border-style: solid;
	color: #000000;
	padding: 2px;
	font-size: 10.00px;
	font-family: Verdana, Arial;
}


/*
// Controls what the little tool tip up top looks like
*/

.area_across_top {
	color: #2e659e;
	border-width: 0px 0px 1px 0px;
	border-style: none;
	border-color: #FFFFFF;
	padding: 2px;
	background-color: transparent;
	text-align: left;
	margin-bottom: 10px;
}

.area_across_top a
{
color: #2e659e;
}

.area_across_top a:visited
{
color: #2e659e;
}

.area_across_top a:hover
{
color: #255280;
}

/*
Header classes for Currently Watching, Completed, Dropped, etc...
*/

div.header_title {
	display: none; /* Let the text disappear above every category */
}


table.header_cw, .header_completed, .header_onhold, .header_dropped, .header_ptw
{
	width: 600px;
	height: 10px;
	background: rgba(56, 160, 172, 0.75);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/*
Totals, the totals under each category
*/
td.category_totals {
	width: 600px;
	height: 25px;
	background: rgba(56, 160, 172, 0.75);
	color: rgba(255, 255, 255, 1.00);
	font-weight: bold;
	font-family: "Optima";
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.23);
}

/*
Grand Totals at the bottom
*/
div#grand_totals {
	width: 525px;
	height: 25px;
	background: rgba(56, 160, 172, 0.75);
	color: rgb(255,255,255);
	font-size: 9.00px ;
	font-weight: bold;
	font-family: "Optima";
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
	margin: auto;
	line-height: 25px;
	border-radius: 5px;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.23);
}

/*
header_al is the  surrounding "User's Anime List" at the top
*/
.header_al {
	font-weight: bold;
	font-size: 10px;
}

/*
header_al_links is the  with your "Profile" and "MyAnimeList home" links
*/
.header_al_links {
}

/*
controls what styles you can give to all the anime titles in your list
*/
.animetitle {
	font-weight: bold;
}

/*
copyright contains the "Producted by Garrett Gyssler" text
DO NOT REMOVE OR HIDE THIS
IF FOUND TO BE REMOVED, YOUR LIST WILL BE REMOVED TOO
*/
div#copyright {
	width: 500px;
	height: 15px;
	background: rgba(56, 160, 172, 0.75);
	text-align: center;
	color: rgb(255, 255, 255);
	margin: auto;
	padding-top: 5px;
	font-family: "Optima";
	text-decoration: none !important;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
	border-radius: 5px;
	box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.23);

}

div#copyright:after {
	content:' Design by Akyra ';
}

div#copyright a {
	color: rgb(255, 255, 255);
	font-family: "Optima";
	text-decoration: none !important;
	font-weight: bold;
}

div#copyright a:hover {
	color: rgb(48, 45, 96);
}
