BODY
{
color: #000;
font-size: 9.00px;
font-family: Verdana, Arial;
background-image: url(http://materiaa.ovh.org/mal/anime/Background.png);
background-color: rgb(41, 106, 158);
background-attachment: fixed;
background-position: right bottom;
background-repeat: no-repeat;
}

/*
// Determines the positioning of your list
*/

div#list_surround
{
width: 600px;
margin-left: 1%;
float: left;
padding-top: 68.50px;
background-image: url(http://materiaa.ovh.org/mal/anime/Title.png);
background-repeat: no-repeat;
}

#mal\_control_strip
{
position:fixed; z-index:100;
background:transparent url(http://materiaa.ovh.org/mal/anime/Bar.png) repeat scroll right center !important;
height:40px !important;
overflow:visible !important;
}

/*
// All links on your list
*/

a
{
color: #2e659e;
text-decoration: none;
}

a:visited
{
color: #2e359e;
text-decoration: none;
}

a:hover
{
color: #255280;
text-decoration: underline;
}

.status_selected
{
color: #2e359e;
font-weight: bold;
border-width: 0px 1px 1px 0px;
border-style: none;
border-color: #131241;
padding: 2px;
background-color: transparent;
}

.status_not_selected
{
color: #2e359e;
font-weight: bold;
border-width: 0px 1px 1px 0px;
border-style: none;
border-color: #131241;
background-color: transparent;
        }

/*
// Alternating row color 1
*/

.td1
{
color: #2f598a;
border-width: 0px 1px 1px 0px;
border-style: none;
border-color: #FFFFFF;
padding: 2px;
background-color: transparent;
background-image: url(http://materiaa.ovh.org/mal/anime/Middle.png);
background-position: center;
}

/*
// Alternating row color 2
*/

.td2
{
color: #2f598a;
border-width: 0px 1px 1px 0px;
border-style: none;
border-color: #FFFFFF;
padding: 2px;
background-color: transparent;
background-image: url(http://materiaa.ovh.org/mal/anime/Middle.png);
background-position: left;
}

/*
// This represents the "Anime Title", "Score", "# Eps" columns
*/

.table_header
{
color: #000000;
border-width: 1px 1px 1px 0px;
border-style: none;
border-color: #ABABAB;
background-color: transparent;
padding: 2px;
background-image: url(http://materiaa.ovh.org/mal/anime/Middle.png);
background-position: center;
}

/*
// headerLink represents the color of the links inside the_header
*/

.table_headerLink
{
color: #2e659e;
}

.table_headerLink:Visited
{
color: #2e659e;
}

.table_headerLink:Hover
{
color: #2e659e;
}

/*
// Controls the select form decoration (the drop down select box)
*/

.form
{
border-width: 1px 1px 1px 1px;
border-color: #000000;
border-style: solid;
color: #000000;
padding: 2px;
font-size: 10.00px;
font-family: Verdana, Arial;
}


/*
// Controls what the little tool tip up top looks like
*/

.area_across_top
{
color: #2e659e;
border-width: 0px 0px 1px 0px;
border-style: none;
border-color: #FFFFFF;
padding: 2px;
background-color: transparent;
text-align: left;
margin-bottom: 10px;
}

.area_across_top a
{
color: #2e659e;
}

.area_across_top a:visited
{
color: #2e659e;
}

.area_across_top a:hover
{
color: #255280;
}

/*
Header classes for Currently Watching, Completed, Dropped, etc...
*/

.header_title
{
display: none; /* Let the text disappear above every category */
}

.header_cw
{
width: 600px;
height: 90px;
background-image: url(http://materiaa.ovh.org/mal/anime/Watching.png);
}

.header_completed
{
width: 600px;
height: 90px;
background-image: url(http://materiaa.ovh.org/mal/anime/Completed.png);
}

.header_onhold
{
width: 600px;
height: 90px;
background-image: url(http://materiaa.ovh.org/mal/anime/OnHold.png);
}

.header_dropped
{
width: 600px;
height: 90px;
background-image: url(http://materiaa.ovh.org/mal/anime/Dropped.png);

}

.header_ptw
{
width: 600px;
height: 90px;
background-image: url(http://materiaa.ovh.org/mal/anime/PlanToWatch.png);
}


/*
Totals, the totals under each category
*/
.category_totals
{
width: 600px;
height: 40px;
background-image: url(http://materiaa.ovh.org/mal/anime/Bottom.png);
background-position: center;
text-align: center;
color: #2e659e;
}


/*
Grand Totals at the bottom
*/
#grand_totals
{
width:525px;
height: 35px;
background-image:url(http://materiaa.ovh.org/mal/anime/GrandTotal.png);
background-position:center;
text-align:center;
margin: 0 auto;
color:#2e659e;
}

/*
header_al is the  surrounding "User's Anime List" at the top
*/
.header_al
{
font-weight: bold;
font-size: 10px;
}

/*
header_al_links is the  with your "Profile" and "MyAnimeList home" links
*/
.header_al_links
{

}

/*
controls what styles you can give to all the anime titles in your list
*/
.animetitle
{
font-weight: bold;
}

/*
copyright contains the "Producted by Garrett Gyssler" text
DO NOT REMOVE OR HIDE THIS
IF FOUND TO BE REMOVED, YOUR LIST WILL BE REMOVED TOO
*/
#copyright
{
width: 500px;
height: 25px;
background-image: url(http://materiaa.ovh.org/mal/anime/Copyright.png);
background-position: center;
text-align: center;
color: #2e689e;
margin: 0 auto;
padding-bottom: 0px;
}

#copyright:after
{content:' Design by Akyra ';
}
